<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Add Book
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
             <!-- AddBook form strats here -->
             <div class="addbookform-cont">
            <div class="row addbookform">  
        <div class="col-lg-4  ">
          <h1 class="addbook-heading">Add Book <br> Here</h1>
           <p class="h6"></p>
        <form (ngSubmit)="AddBook()"  >
            
            <label for="book name">Book Name</label>
            <input type="text" class="form-control" id="bookname" [(ngModel)]="bookItem.title" placeholder="Book Name" required name="title"/>
            <label for="error" id="bookname-error"></label><br>
           
          
            <label for="author name">Author Name</label>
            <input type="text" class="form-control"  id="" [(ngModel)]="bookItem.author" placeholder="Author Name" required name="author"/>
            <label for="error" id="authorname-error"></label><br>
  
            <label for="genre">Genre</label>
            <input type="text" class="form-control"  id="" [(ngModel)]="bookItem.genre" placeholder="Genre" required name="genre"/>
            <label for="error" id="genre-error"></label><br>
  
            <label for="image">Image</label>
            <input type="text" class="form-control"  id="" [(ngModel)]="bookItem.image" placeholder="Image" required name="image"/>
            <label for="error" id="img-error"></label><br>
  
          <button type="submit" id="submit" class="btn btn-primary" >Add Book</button> <br>
        </form>
      </div>  
              
    </div>
    </div>
            
     
            <hr>
            
            <!--/stories-->
            
            
            <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
